<nav class="sidebar">
  <div class="sidebar-logo">
    <span>ClimateGuard</span>
  </div>

  <ul class="sidebar-menu">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/sensores" routerLinkActive="active">Sensores</a>
    </li>
    <li>
      <a routerLink="/alertas" routerLinkActive="active">Alertas</a>
    </li>
    <li>
      <a routerLink="/historial" routerLinkActive="active">Historial</a>
    </li>
    <li>
      <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
    </li>
  </ul>
</nav>